In [52]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

In [81]:
df_storebaelt=pd.read_csv(Path.cwd() / "data/Report (1).csv", sep=';', header=1)

df_storebaelt['Date'] = pd.to_datetime(df_storebaelt['År'].astype(str) + '-' + df_storebaelt['Måned'].astype(str), format='%Y-%m')
df_storebaelt = df_storebaelt.drop(['År', 'Måned'], axis=1)

df_storebaelt['Storebaelt LastbilerTotal'] = df_storebaelt['Små lastbiler']+df_storebaelt['Store lastbiler']+df_storebaelt['Lastbiler over 20 meter']
df_storebaelt = df_storebaelt.drop(df_storebaelt.columns[:8],axis=1)
df.to_csv(Path.cwd() / "data/FinalStorebaeltData")

df_storebaelt['Storebaelt LastbilerTotal'] = (df_storebaelt['Storebaelt LastbilerTotal'] * 1000).astype(int)  # Multiply by 1000 to shift decimal places

df_storebaelt.to_csv(Path.cwd() / "data/FinalStorebaeltData")

         Date  Storebaelt LastbilerTotal
0  2023-07-01                     138135
1  2023-06-01                     155207
2  2023-05-01                     145951
3  2023-04-01                     124993
4  2023-03-01                     145877
5  2023-02-01                     123946
6  2023-01-01                     127485
7  2022-12-01                     123894
8  2022-11-01                     141909
9  2022-10-01                     138921
10 2022-09-01                     147674
11 2022-08-01                     155465
12 2022-07-01                     140354
13 2022-06-01                     156090
14 2022-05-01                     151036
15 2022-04-01                     134415
16 2022-03-01                     154419
17 2022-02-01                     126765
18 2022-01-01                     128360
19 2021-12-01                     128924
20 2021-11-01                     148853
21 2021-10-01                     140333
22 2021-09-01                     147766
23 2021-08-01                     143373
24 2021-07-01                     134435
25 2021-06-01                     152242
26 2021-05-01                     140388
27 2021-04-01                     132844
28 2021-03-01                     149669
29 2021-02-01                     119519
30 2021-01-01                     116889
31 2020-12-01                     120074
32 2020-11-01                     131839
33 2020-10-01                     132356
34 2020-09-01                     134694
35 2020-08-01                     126739
36 2020-07-01                     120925
37 2020-06-01                     132013
38 2020-05-01                     123346
39 2020-04-01                     120949
40 2020-03-01                     133867
41 2020-02-01                     117166
42 2020-01-01                     122752
43 2019-12-01                     107907
44 2019-11-01                     126595
45 2019-10-01                     136134
46 2019-09-01                     129389
47 2019-08-01                     130935
48 2019-07-01                     128844
49 2019-06-01                     127131
50 2019-05-01                     136058
51 2019-04-01                     125848
52 2019-03-01                     125050
53 2019-02-01                     112501
54 2019-01-01                     122825